div{
    border: 5px;
    border-color: red;
    border-style: double;
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 25px;
    margin-right: 15px;
}
.div2{
    border: 5px;
    border-color: blue;
    border-style: solid;
    margin: 50px;
}
div p{
    padding-top: 50px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 15px;
}
.div2 p{
    padding: 30px;
}